
.header-main h1{
    font-weight:700;
}
.bannerSection{
    background-image: url(../../../images/top\ image.jpg);
    height: 700px;
    background-position: center center;
    background-size: cover;
}

